{% extends 'base.html' %} {% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Login</title>
</head>
    <!-- Appointment Start -->
    <div class="container-fluid" style="margin-top: 120px;">
        <div class="container" style="display:flex; justify-content:center;">
                        <div>
                            <h1 style="color:#333;">Registration</h1>
                            <form>
                                <div class="form-group">
                                    <input type="email" class="form-control border-0 p-4" placeholder="Your Email" required="required" />
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control border-0 p-4" placeholder="Your Password" required="required" />
                                </div>
                                
                                <div>
                                    <input type="button" class="btn btn-primary btn-block border-0 py-3" value="submit">
                                    <a href="admindashboard" class="btn btn-secondary btn-block border-0 py-3">SignUp With Us</a>
                                </div>
                                <br>
                                <div>
                                    <!-- <button class="btn btn-primary btn-block border-0 py-3" type="submit">Get An Appointment</button> -->
                                    <a href="registration" class="btn btn-secondary btn-block border-0 py-3">SignUp With Us</a>
                               
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Appointment End -->


<body>
    
</body>
</html>
{% endblock %}